<div class="container">
    <div class="error-container">
        <h1 class="error-title">Oops!</h1>
        <p class="error-text">Page not found</p>
        <p class="error-description">
            <span class="error-description-line">The page you are looking for might have been removed</span>
            <span class="error-description-line">had its name changed or is temporarily unavailable.</span>
        </p>
        <button class="error-button" routerLink="/">Go to homepage</button>
    </div>
</div>
